@import "~bootstrap/scss/bootstrap.scss";
@import "~pnotify/dist/PNotifyBrightTheme.css";
@import "./mdb/css/mdb.css";

table.scroll-table tbody {
  position: relative;
  height: 50vh;
  display: block;
  overflow: auto;
}

table.scroll-table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table.scroll-table thead {
  width: calc(100% - 1em);
}

table.scroll-table {
  text-align: center;
  width: 100%;
}

table.scroll-table tbody tr td div {
  height: 30;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.scroll-table tbody::-webkit-scrollbar,
table.scroll-table tbody::-webkit-scrollbar-thumb {
  min-height: 10px;
  color: rgba(0, 0, 0, 0.3);
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

table.scroll-table tbody::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

@media (max-width: 1000px) {
  table.scroll-table tbody::-webkit-scrollbar {
    display: none;
  }

  table.scroll-table thead {
    width: 100%;
  }
}

// NAVBAR

.navbar {
  z-index: 3;
}

.spinner-border {
  display: inline-block;
  position: absolute;
  left: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
  z-index: 2;
  width: 3rem;
  height: 3rem;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  background: rgba(39, 42, 43, 0.8);
  opacity: 1;
}

.leaflet-container {
  display: block;
  height: 40rem;
  width: 100%;
}
