@import "~bootstrap/scss/bootstrap.scss";
@import "~pnotify/dist/PNotifyBrightTheme.css";
@import "./mdb/css/mdb.css";


.table-fixed-header {
  margin: 0;
}

.table-scrollable-body {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 50vh;
}

.t-table-scrollable-body {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 50vh;
}

#t-table-scrollable-body {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 50vh;
}

#table-scrollable-body {
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 50vh;
}

td > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
}

::-webkit-scrollbar {
  display: none;
}

// NAVBAR

.navbar {
  z-index: 3;
}

.spinner-border {
  display: inline-block;
  position: absolute;
  left: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
  z-index: 2;
  width: 3rem;
  height: 3rem;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  background: rgba(39, 42, 43, 0.8);
  opacity: 1;
}

.leaflet-container {
  display: block;
  height: 40rem;
  width: 100%;
}
